* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

.header {
  text-align: center;
}

.hidden {
  display: none;
}

.main {
  width: 80%;
  float: right;
}

.project-basic, .project-tech {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  width: 20%;
  float: left;
  text-align: right;
  .projects:hover {
    cursor: pointer;
  }
}

.icon {
  display: inline-block;
  padding-right: 20px;
  .fa {
    display: inline-block;
    padding-right: 5px;
  }
}
