* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

.landing-page {
  height: 100vh;
  .center-block {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20%;
  }
}

.container {
  padding: 20px;
}

.gallery {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery-cell {
  padding-right: 5px;
  height: 50vh;
}

.header {
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}

.main {
  width: 88%;
  float: right;
}

h2 {
  margin-top: 0;
}

.project-info {
  display: inline-block;
  width: 100%;
  .project-basic, .project-tech {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}


.sidebar {
  width: 12%;
  float: left;
  text-align: right;
  .projects:hover {
    cursor: pointer;
  }
}

.icon {
  display: inline-block;
  padding-right: 20px;
  .fa {
    display: inline-block;
    padding-right: 5px;
  }
}
