extends layout

block content
  include sidebar
  .main.animated.fadeIn
    .container
      h2 Hi! My name is Jaylyn, and I like writing code.
      p My journey into the wonderful world of web development began six months ago, when my curiosity for technology got the best of me. I dropped everything I was doing to become a student in the Galvanize Full Stack program in Denver, CO, USA, and haven't looked back since.
      p With a background in business and a passion for all things nerdy, I'm happiest when I'm solving challenging problems and taking on useful, unique projects. I thrive in environments that are fast-paced and results-oriented. I learn something new every day, and seek out opportunities to expand my skill set (lets be honest here - I just want to be a badass.)
      p My forte is front-end development. Upon completion of the Galvanize Full Stack program in October 2015, I'm seeking a Junior Developer position where I can dive into front-end dev and UX/UI design, as well as put my marketing know-how to good use.
      p I look forward to a lifetime of learning, puzzle-solving, ping-pong, and late-night debugging. Please check out my projects and Github profile to see what I've learned so far.
      p Oh, and it's pronounced "jif".
      p Thank you!
