extends layout

block content
  .main.animated.fadeIn
    .container
      h1 Let's talk technology.
    .container.contact
      p Jaylyn E. Stoesz
      p Located in Denver, CO, USA
      p Get in touch with me at jaylynstoesz@gmail.com
    .container.social-media
      a(class="icon" href="https://github.com/jaylynstoesz" target="_blank")
        span(class="fa fa-github") 
        span Github
      a(class="icon" href="https://www.linkedin.com/in/jaylynstoesz" target="_blank")
        span(class="fa fa-linkedin")
        span LinkedIn
      a(class="icon" href="https://github.com/jaylynstoesz" target="_blank")
        span(class="fa fa-twitter")
        span Twitter
