extends layout

block content
  .landing-page
    .center-block.animated.fadeIn
      h1 Jaylyn Stoesz
      h3 Full Stack Web Developer
      a(href="/about")
        span(class="fa fa-arrow-circle-right")
  script(src="/javascripts/index.js" type="text/javascript")
