extends layout

block content
  include sidebar
    h2 Skills
      p LANGUAGES: JavaScript, HTML5, Jade, Sass/CSS
      p FRAMEWORKS: Express, Node.js, Meteor, Rails
      p TOOLS: Mongo/Monk, Mongoose, Canvas, OAuth, Heroku,  IBM Bluemix, Amazon S3, Jasmine, Atom, React JS,  Foundation 5, SQL Postgres
      p TECHNIQUES: Responsive Design,  Object-Oriented Programming, ERD Data Modeling,  JavaScript Promises, CRUD, Test-Driven Development,  Pair Programming
      p GENERAL: Team Training & Management,  Business Development, Spanish, Microsoft Office,  Social Media Marketing, Customer Service, Market Analysis,  Creative Writing
    h2 Education
      p Galvanize Full Stack Web Development 2015
      p University of Denver, Bachelors of Science in Business Administration Hospitality Management, Marketing 2014
