a(href="/")
  h1= title
h3 Full-Stack Web Developer
.sidebar
  ul
    li 
      a(href="/about") About
    li TweetHelper
    li Monopolize
    li Road Trip Planner
    li Capstone Project
    li Contact
